.home-main {
  padding-top: 0 !important;
  section {
    @include media-min($mobile-l) {
      margin-bottom: 100px;
    }
    @include media-max($mobile-l) {
      margin-bottom: 50px;
    }
    h1 {
      font-size: 42px;
      font-weight: 400;
      @include media-max($tablet-m) {
        font-size: 34px;
      }
    }
    .event-card__details--date {
      justify-content: space-between;
    }
  }
  .banner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-top: 80px;
    @include media-min($tablet-m) {
      height: 480px;
      margin-bottom: 150px;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        top: -36px;
        left: -16%;
        right: -16%;
        filter: brightness(84%);
        border-radius: 0 0 100% 100%/0 0 20% 32%;
        overflow: hidden;
        background: #06232c;
        filter: brightness(84%);
        z-index: -1;
      }
      &::after {
        content: "";
        position: absolute;
        left: -30%;
        top: -60%;
        width: 60%;
        z-index: -1;
        height: 120%;
        background: #06232c;
        border-radius: 0 0 80% 0/ 0 0 75% 0;
      }
    }
    @include media-max($tablet-m) {
      height: 350px;
      width: 100vw;
      transform: translateX(-40px);
    }
    @include media-max($mobile-m) {
      transform: translateX(-20px);
    }

    &-text {
      position: absolute;
      background: rgba(255, 255, 255, 0.1);
      overflow: hidden;
      z-index: 1;
      @include media-min($tablet-m) {
        top: 30%;
        left: 10%;
        max-width: 600px;
        padding: 60px 80px;
        border-radius: 15px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
      }
      @include media-max($tablet-m) {
        top: 0;
        left: 0;
        height: 100%;
        padding: 20px 12vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
      }
      h1 {
        font-weight: 500;
        margin-bottom: 24px;
        @include media-max($tablet-m) {
          text-align: center;
        }
      }
      p {
        font-weight: 200;
        line-height: 140%;
        @include media-max($tablet-m) {
          text-align: center;
          font-size: 1.6rem;
        }
        @include media-min($tablet-m) {
          font-size: 2rem;
        }
      }
      .cta {
        display: inline-block;
        margin-top: 14px;
        padding: 16px 24px;
        border-radius: 30px;
        background: linear-gradient(180deg, #ff0aeb 0%, #8f00d6 82.81%), #c4c4c4;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.02em;
        //#9d00ff
      }
    }
    &__img-ctnr {
      height: 100%;
      @include media-min($tablet-m) {
        width: 50%;
      }
      @include media-max($tablet-m) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
    img {
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;

      @include media-min($tablet-m) {
        border-radius: 15px;
        box-shadow: 5px 5px 5px rgba(black, 0.2);
      }
    }
  }
  .last-event-section {
    .event-grid {
      display: grid;
      @include media-min($tablet-m) {
        grid-template-columns: repeat(2, 49.5%);
        grid-template-rows: repeat(3, 140px);
        gap: 10px;
        .event-card {
          &:nth-child(1) {
            grid-area: 1/1 / span 3 / span 1;
          }
          &:nth-child(2) {
            grid-area: 1/2 / span 1 / span 1;
          }
          &:nth-child(3) {
            grid-area: 2/2 / span 1 / span 1;
          }
          &:nth-child(4) {
            grid-area: 3/2 / span 1 / span 1;
          }
        }
      }
    }
  }
  .free-event-section {
    .event-grid {
      display: grid;
      @include media-min($tablet-m) {
        grid-template-columns: repeat(2, 49.5%);
        grid-template-rows: repeat(2, 215px);
        gap: 10px;
      }
      .event-card {
        @include media-min($tablet-m) {
          grid-template-columns: 40% 1fr;
        }
      }
    }
  }
  .pmr-event-section {
    .event-grid {
      display: grid;
      @include media-min($tablet-m) {
        grid-template-columns: repeat(2, 49.5%);
        grid-template-rows: repeat(3, 140px);
        gap: 10px;
        .event-card {
          &:nth-child(1) {
            grid-area: 1/1 / span 1 / span 1;
          }
          &:nth-child(2) {
            grid-area: 2/1 / span 1 / span 1;
          }
          &:nth-child(3) {
            grid-area: 3/1 / span 1 / span 1;
          }
          &:nth-child(4) {
            grid-area: 1/2 / span 3 / span 1;
          }
        }
      }
    }
  }

  .free-event-section,
  .last-event-section,
  .pmr-event-section {
    .event-card {
      @include media-min($mobile-l) {
        grid-template-columns: 30% 1fr;
      }

      .event-card__details {
        img {
          height: 130px;
        }
      }
    }
  }
  .last-event-section .event-card:first-of-type,
  .pmr-event-section .event-card:last-of-type {
    @include media-min($tablet-m) {
      position: relative;
      background: none;
      display: flex;
      align-items: flex-end;
      & > a {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(rgba(54, 69, 80, 0), rgba(54, 69, 80, 1));
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      .event-card__details {
        z-index: 1;
        width: 100%;
      }
    }
  }

  .event-grid {
    @include media-between($mobile-l, $tablet-m) {
      grid-template-columns: 100%;
      grid-template-rows: repeat(4, 25vw);
      gap: 12px;
    }
  }
}
