.like-btn {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 8px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover svg path {
    stroke: white;
  }
  svg {
    path {
      stroke-width: 5rem;
      stroke: darkgrey;
      fill: none;
    }
  }
  input[type="checkbox"]:checked ~ svg path {
    fill: white;
    stroke: white;
  }
}
